# library-service
DATABASE_URL=postgresql://postgres:postgres@postgres-library:5432/library_db
LOANS_SERVICE_URL=http://loans-service:8081
JWT_SECRET=your_secret_here
PORT=3000

# loans-service
LIBRARY_SERVICE_URL=http://library-service:3000
